[submodule ".registry"]
	path = .registry
	url = https://github.com/zyf0717/zyf0717.r-universe.dev
	branch = HEAD
[submodule "HeatStressR"]
	path = HeatStressR
	url = https://github.com/zyf0717/HeatStressR
	branch = v2.4.0
[submodule "lwbgt"]
	path = lwbgt
	url = https://github.com/zyf0717/lwbgt
	branch = v0.4.0
	subdir = r
